<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}
  <body class="has-navbar-fixed-top">
    {{ partial "nav-bar.html" . }}
    <main class="container">
      <header class="list-header">
        <p class="list-header-subtext">{{ .Description }}</p>
        <h1 class="title has-text-light has-text-centered is-size-1">{{ .Title }}</h1>
      </header>
      {{ $paginator := .Paginate (where .Pages "Params.displayinlist" "!=" false) }}
      {{ range $paginator.Pages }}
        {{ .Render "li" }}
      {{ end }}
    </main>
    {{ if or ($paginator.HasPrev) ($paginator.HasNext) }}
      <div class="container">
        <nav class="level">
          <div class="level-left">
            {{ if $paginator.HasPrev }}
              <a class="button is-rounded is-dark is-inverted is-outlined" href="{{ $paginator.Prev.URL | relURL }}">&lt;&lt; Previous Posts</a>
            {{ end }}
          </div>
          <div class="level-right">
            {{ if $paginator.HasNext }}
              <a class="button is-rounded is-dark is-inverted is-outlined" href="{{ $paginator.Next.URL | relURL }}">More Posts &gt;&gt;</a>
            {{ end }}
          </div>
        </nav>
      </div>
    {{ end }}
    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}
  </body>
</html>