<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}
  <body class="has-navbar-fixed-top">
  {{ partial "nav-bar.html" . }}
  <main class="container">
    <header class="hero is-info" {{ if .Params.featuredimage }}style="background-image: url('{{ .Params.featuredimage | relURL }}')" parallax{{end}}>
        <div class="hero-body">
          <div class="container">
            <h1 class="title">{{ .Title }}</h1>
            {{ if ne .Params.showdateinpost false }}
            <h2 class="subtitle">Posted <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" }}</time></h2>
            {{ end }}
          </div>
        </div>
      </header>
    <article id="content">{{ .Content }}</article>
  </main>

  <div class="container">
    <h1 class="title has-text-grey-lighter">More posts</h1>
    {{ with .NextInSection }}
      {{ .Render "li" }}
    {{ end }}

    {{ with .PrevInSection }}
      {{ .Render "li" }}
    {{ end }}
  </div>
    {{ partial "scroll-nav.html" . }}
    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}

    <script>
      {
        let max = document.body.scrollHeight - window.innerHeight;
        window.addEventListener('scroll', function() {
          document.getElementById('scroll-nav').style.width = `${this.scrollY / max * 100}%`
        });
        document.getElementById('scroll-nav').style.width = `${window.scrollY / max * 100}%`
      }
    </script>
  </body>
</html>