{{ $_SiteBaseURL := .Site.BaseURL }}
<nav class="navbar is-fixed-top is-unselectable" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item has-text-grey-darker is-size-3" href="{{ $.Site.Params.logourl }}">
        {{ $.Site.Params.brand }}
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navmenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navmenu" class="navbar-menu">
      <div class="navbar-end">
        {{ $categories := .Site.Taxonomies.categories }}
        {{ range .Site.Params.links }}
          {{ if eq .path "_blog_" }}
            <div class="navbar-item has-dropdown is-hoverable links">
                <a class="navbar-link has-text-black-ter is-arrowless" href='{{ "/" | relURL }}'>{{ .name }}</a>
                <div class="navbar-dropdown">
                    {{ range $key, $value := $categories -}}
                      <a href="{{ (printf "%s%s" "categories/" ($key | urlize)) | relURL }}" class="navbar-item">{{ $key }}</a>
                    {{- end }}
                    <a href="{{ "search/" | relURL }}" class="navbar-item">Search Blog</a>
                </div>
            </div>
          {{ else }}
            <a class="navbar-item has-text-grey" href="{{ .path | safeURL }}">{{ .name }}</a>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</nav>
