<link rel="stylesheet" href="{{ "assets/luminous.js/luminous-basic.min.css" | relURL }}" />
<script src='{{ "assets/luminous.js/Luminous.min.js" | relURL}}'></script>
<script type="text/javascript">
document.querySelectorAll("#content img").forEach(e => new Luminous(e , {
    sourceAttribute: "src"
  })
)
</script>

<script src='{{ "assets/elevator.js/elevator.min.js" | relURL}}'></script>
<script type="text/javascript">
  var elevator = new Elevator({
    element: document.querySelector(".footer .logo"),
    mainAudio: '{{ "assets/elevator.js/elevator.mp3" | relURL }}',
    endAudio: '{{ "assets/elevator.js/ding.mp3" | relURL }}'
  });
</script>

{{ if and (isset $.Site.Params "umamihost") (isset $.Site.Params "umamiid") }}
<script defer src="https://{{ $.Site.Params.umamihost }}/script.js" data-website-id="{{ $.Site.Params.umamiid }}"></script>
{{ end }}

{{ if and (isset $.Site.Params "fathomhost") (isset $.Site.Params "fathomsiteid") }}
<script>
(function(f, a, t, h, o, m){
	a[h]=a[h]||function(){
		(a[h].q=a[h].q||[]).push(arguments)
	};
	o=f.createElement('script'),
	m=f.getElementsByTagName('script')[0];
	o.async=1; o.src=t; o.id='fathom-script';
	m.parentNode.insertBefore(o,m)
})(document, window, '//{{ $.Site.Params.fathomhost }}/tracker.js', 'fathom');
fathom('set', 'siteId', '{{ $.Site.Params.fathomsiteid }}');
fathom('trackPageview');
</script>
{{ end }}
